.App, .App-Swiper {
  height: 100%;
}

.App-SwiperSlide {
  max-width: 1000px;
  margin-top: calc(50vh - 350px);
  height: auto;
}

.App-card-frame {
  padding: 17px;
  max-width: 830px;
  margin: auto;
}

.App-card {
  min-height: min(90vh, 700px);
}

.App-card-content.App-card-content {
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 16px 24px;
}

.App-card-header {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin: 0 0 17px;
}

.App-card-header-booked {
  text-decoration: line-through;
}

.App-card-header h2 {
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

.App-card-photo {
  max-height: 500px;
  max-width: 100%;
}

.App-card-details {
  width: 100%;
  margin-top: 12px;
}

.App-card-details-row {
  display: flex;
  color: #646464;
  align-items: center;
  gap: 5px;
}

.App-card-details-row p {
  margin: 12px 0;
}

.App-card-details-label {
  font-weight: 700;
  color: #646464;
}

.Dialog-text {
  margin: 0 0 16px;
}

.MuiPaper-root.MuiPaper-root {
  border-radius: 24px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.MuiButton-root.MuiButton-root {
  border-radius: 36px
}
