.App {
  text-align: center;
}

:root:root {
  --swiper-theme-color: #16a2d1;
}

div.photoFrame {
  /* position: relative; */
  /* height: 70vh; */
  width: 70vw;

  /* background-color: #faecec; */
}

img.photo {
  max-height: 90%;
  max-width: 90%;

  /* width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */

  /* border: #f6d6d6 4px solid; */
}
