.App {
  text-align: center;
}

.loader {
  background-color: #faecec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loader-giftbox {
  animation: pluse 15s linear infinite alternate;
  height: 40vmin;
  pointer-events: none;
}

@keyframes pluse {
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(4);
  }
}

div.frame {
  position: relative;
  height: 100vh;
  width: 100vw;

  background-color: #faecec;
}

img.photo {
  max-height: 90vh;
  max-width: 90vw;

  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border: #f6d6d6 4px solid;
}

:root:root {
  --swiper-theme-color: #16a2d1;
}
