.loader {
    background-color: #faecec;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.loader-giftbox {
    animation: pluse 15s linear infinite alternate;
    height: 40vmin;
    pointer-events: none;
}

@keyframes pluse {
    from {
        transform: scale(1.0);
    }

    to {
        transform: scale(4);
    }
}
